<div class="w-full text-center">

    <!--Decrement Button-->
    <p-button icon="pi pi-angle-left" (onClick)="previousPage()" [disabled]="currentPage <= 1"
        styleClass="mr-2 cursor-pointer" [rounded]="true"></p-button>
    <!--End Decrement Button-->

    <!--Increment Button-->
    <p-button icon="pi pi-angle-right" (onClick)="nextPage()" [disabled]="currentPage >= totalOfPages"
        styleClass="ml-2 cursor-pointer" [rounded]="true"></p-button>
    <!--End Increment Button-->

</div>