<!--Products Panel-->
<p-panel header="Produtos Inativos" styleClass="mt-2">
    @for (product of products; track $index) {
    <app-inactive-product-card [product]="product"
        (notifyParentToReactivateProduct)="reactivate($event)"></app-inactive-product-card>
    }

    <!--Paginator-->
    <app-paginator [currentPage]="currentPage" [totalOfPages]="totalOfPages"
        (notifyParentToChangePage)="changePage($event)"></app-paginator>
    <!--End Paginator-->

</p-panel>
<!--End Products Panel-->