<!--Sales Panel-->
<p-panel header="Vendas Ativas" styleClass="mt-2">
    @for (sale of sales; track $index) {
    <app-active-sale-card [sale]="sale" (notifyParentToDisplayDetails)="displayModal($index)"
        (notifyParentToDisplayReport)="report($event)"></app-active-sale-card>
    <app-sale-details-modal [isVisible]="modalsPerSale[$index]" [sale]="saleDetails"
        (notifyParentToCloseModal)="closeModal()"></app-sale-details-modal>
    } @empty {
    <div>Não há vendas ativas!</div>
    }

    <!--Paginator-->
    <app-paginator [currentPage]="currentPage" [totalOfPages]="totalOfPages"
        (notifyParentToChangePage)="changePage($event)"></app-paginator>
    <!--End Paginator-->

</p-panel>
<!--End Sales Panel-->