<!--Search Panel-->
<p-panel header="Pesquisar Produto" styleClass="mt-2">
    <div class="flex justify-content-center mb-2">

        <!--Search Form-->
        <app-search-products-form (notifyParentToSearchProducts)="searchProducts($event)"></app-search-products-form>
        <!--End Search Form-->

    </div>

    <div>
        @for (product of products; track $index) {
        <app-active-product-card [product]="product"
            [shouldDisplayActionButtons]="authService.isUserAnAdmin() || authService.isUserAManager()"
            (notifyParentToDisplayUpdateModal)="displayUpdateModal($index)"
            (notifyParentToDeleteProduct)="deleteProduct($event)"></app-active-product-card>

        <app-update-product-modal [product]="product" [isModalVisible]="updateModalsPerProduct[$index]"
            (notifyParentToCloseUpdateModal)="closeUpdateModal()"
            (notifyParentToUpdateProduct)="updateProduct($event)"></app-update-product-modal>

        }


    </div>

    <!--Paginator-->
    <app-paginator [currentPage]="currentPage" [totalOfPages]="totalOfPages"
        (notifyParentToChangePage)="changePage($event)"></app-paginator>
    <!--End Paginator-->

</p-panel>
<!--End Search Page-->