<p-dialog [(visible)]="isModalVisible" [modal]="true" [draggable]="false" (onHide)="close()" header="Editar Produto">

    <form [formGroup]="form">
        <input pInputText formControlName="description" placeholder="Descrição" class="mb-2 w-full">

        <p-inputNumber inputId="integeronly" formControlName="amount" placeholder="Quantidade" [min]="0" class="w-full"
            styleClass="mb-2 w-full"></p-inputNumber>

        <p-inputNumber formControlName="price" placeholder="Preço" [minFractionDigits]="2" [maxFractionDigits]="2"
            [min]="0" styleClass="mb-2 w-full" class="w-full"></p-inputNumber>

        <p-button label="Editar" (onClick)="update()" [disabled]="loadingHelper.isLoading() || form.invalid"
            [rounded]="true" styleClass="w-full cursor-pointer"></p-button>
    </form>

</p-dialog>