<p-panel header="Produtos Ativos" styleClass="mt-2">

    @for (product of products; track $index) {
    <app-active-product-card [product]="product"
        [shouldDisplayActionButtons]="authService.isUserAnAdmin() || authService.isUserAManager()"
        (notifyParentToDisplayUpdateModal)="displayUpdateModal($index)"
        (notifyParentToDeleteProduct)="deleteProduct($event)"></app-active-product-card>

    <app-update-product-modal [product]="product" [isModalVisible]="updateModalsPerProduct[$index]"
        (notifyParentToUpdateProduct)="updateProduct($event)"
        (notifyParentToCloseUpdateModal)="closeModalFromSelectedProduct()"></app-update-product-modal>

    }

</p-panel>