<p-panel styleClass="mt-2">

    <ng-template pTemplate="header">
        <div class="flex justify-content-between w-full">
            <p class="font-bold">Produtos Ativos</p>
            <p-button (onClick)="inventoryReport()" icon="pi pi-file-export" [disabled]="loadingHelper.isLoading()"
                [rounded]="true" styleClass="cursor-pointer"></p-button>
        </div>
    </ng-template>

    @for (product of products; track $index) {
    <app-active-product-card [product]="product"
        [shouldDisplayActionButtons]="securityService.isSessionBelongsToAnAdmin() || securityService.isSessionBelongsToAManager()"
        (notifyParentToDisplayUpdateModal)="displayModal($index)"
        (notifyParentToDelete)="delete($event)"></app-active-product-card>

    <app-update-product-modal [product]="product" [isModalVisible]="modalsPerProduct[$index]"
        (notifyParentToUpdate)="update($event)" (notifyParentToCloseModal)="closeModal()"></app-update-product-modal>

    }

    <app-paginator [currentPage]="currentPage" [totalOfPages]="totalOfPages"
        (notifyParentToChangePage)="changePage($event)"></app-paginator>

</p-panel>