<p-panel header="Produtos Ativos" styleClass="mt-2">
    @for (product of products; track $index) {
    <app-product [product]="product" (shouldRefreshParentComponent)="shouldRefreshPage($event)"></app-product>
    } @empty {
    <div class="text-center">Não há produtos cadastrados!</div>
    }
    <p-button label="Gerar Relatório" styleClass="w-full mb-2" (onClick)="generateGoodsReport()"></p-button>
    <app-paginator [currentPage]="currentPage" [totalOfPages]="totalOfPages"
        (changePageEvent)="handlePageChange($event)"></app-paginator>
</p-panel>