<p-dialog header="Performance Mensal" [modal]="true" [draggable]="false" [resizable]="false" [(visible)]="isVisible"
    (onHide)="close()">

    <form [formGroup]="form">
        <p-calendar formControlName="start" dateFormat="dd/mm/yy" styleClass="w-full mb-2" [inline]="true"></p-calendar>
        <p-button label="Verificar" [disabled]="loadingHelper.isLoading() || form.invalid"
            (onClick)="performanceReport()" styleClass="w-full cursor-pointer" [rounded]="true"></p-button>
    </form>

</p-dialog>