<!--Search Panel-->
<p-panel header="Pesquisar Vendas" styleClass="mt-2">

    <!--Search Form-->
    <app-search-sales-form (notifyParentToSearch)="search($event)"></app-search-sales-form>
    <!--End Search Form-->

    @if (sales.length > 0) {
    @for (sale of sales; track $index) {
    <app-active-sale-card [sale]="sale" (notifyParentToDisplayDetails)="displayModal($index)"
        (notifyParentToDisplayReport)="individualReport($event)"></app-active-sale-card>
    <app-sale-details-modal [isVisible]="modalsPerSale[$index]" [sale]="saleDetails"
        (notifyParentToCloseModal)="closeModal()"></app-sale-details-modal>
    }

    <p-button label="Relatório do Dia" (onClick)="todaysReport()" [disabled]="loadingHelper.isLoading()"
        [rounded]="true" styleClass="w-full cursor-pointer"></p-button>
    }
</p-panel>
<!--End Search Panel-->