<p-panel header="Inserir Produto" styleClass="mt-2 mb-2">
    <form [formGroup]="form">
        <div>
            <p-inputNumber inputId="integeronly" formControlName="productId" placeholder="ID do Produto"
                styleClass="w-full mb-2" class="w-full"></p-inputNumber>
        </div>
        <div>
            <p-inputNumber inputId="integeronly" formControlName="amount" placeholder="Quantidade" styleClass="w-full mb-2"
                class="w-full"></p-inputNumber>
        </div>
        <p-button label="Inserir" (onClick)="insert()" [disabled]="loadingHelper.isLoading() || form.invalid"
            [rounded]="true" styleClass="w-full cursor-pointer"></p-button>
    </form>
</p-panel>